* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug */

.debug header {
    background-color: violet;
    height: 200px;
}

.debug nav {
    background: cyan;
    width: 20%;
}

.debug main {
    width: 79%;
    background-color: pink;
}

/*
    .debug .flex-container {
        height: 400px;
    }
*/

.debug li {
    background-color: yellow;
}

.debug a {
    background: red;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.debug section {
    border: dashed 5px #fff;
}

.debug footer {
    background-color: grey;
    height: 200px;
}

/* Regole di CSS */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
header {
    margin-bottom: 20px;
}
footer {
    margin-top: 20px;
}
nav {
    min-height: 200px;
    padding: 20px;
}
main {
    min-height: 300px;
    padding: 15px;
}

a:active {
    color:white;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0px;
}

section {
    padding: 15px;
    margin: 20px 0px;
}


.container {
    max-width: 1170px;
    margin: auto;
}